.label {
    -fx-background-color: #f8f0e0;
    -fx-background-radius: 10px;

    -fx-font-family: "Baskerville Old Face";
    -fx-font-size: 14px;
    -fx-text-fill: #3b2f2f;

    -fx-border-color: #dcd0b5;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;

    -fx-padding: 15px 20px 15px 20px;
    -fx-min-width: 50px;
    -fx-pref-width: 250px;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 3, 3);
}

.reply-label {
    -fx-background-color: "rgb(249,224,158)";
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    -fx-scale-x: 1;
    -fx-scale-y: 1;

    -fx-rotate: 0;
}