.root {
    main-color: #FDF6E3;       
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #FFFBF0;
    -fx-border-color: #DCD0B5;
    -fx-border-width: 1px;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: #A09070;
    -fx-font-family: "Baskerville Old Face";
}

.button {
    -fx-background-color: #554444;
    -fx-text-fill: #F8F0E0;
    -fx-font-family: "Baskerville Old Face";
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-background-radius: 5px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3B2F2F;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #E6ACA4;
    -fx-background-radius: 1em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

